@media screen and (max-width: 576px) {
  /* ===== Start: Same Style ===== */
  .nav-items {
    flex-direction: column;
    gap: 0.6rem;
  }
  /* ===== End: Same Style ===== */
  /* ===== Start: Header Section ===== */
  header {
    padding: 0 1rem;
  }
  .nav-brand {
    font-size: 1.5rem;
  }
  .banner-title {
    font-size: 2rem;
  }

  .banner-img-container .banner-img {
    margin-bottom: 1rem;
  }
  /* ===== End: Header Section ===== */
}
