@media screen and (max-width: 576px) {
  /* ===== Start: Same Style ===== */
  .nav-items {
    flex-direction: column;
    gap: 0.6rem;
  }
  /* ===== End: Same Style ===== */
  /* ===== Start: Header Section ===== */
  header {
    padding: 0 1rem;
  }
  .nav-brand {
    font-size: 1.5rem;
  }
  .banner-title {
    font-size: 2rem;
  }

  .banner-img-container .banner-img {
    margin-bottom: 1rem;
  }
  /* ===== End: Header Section ===== */
  /* ===== Start: Main Section ===== */
  .quick-features {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .quick-features-content {
    text-align: center;
    padding: 1rem;
  }
  .quick-feature-title {
    font-size: 2rem;
  }
  /* ===== End: Main Section ===== */
}

/* ===== Start: Tablet Devices ===== */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .quick-features {
    flex-direction: column;
    /* align-items: center; */
    gap: 3rem;
    margin: 0;
  }
  .quick-features-content {
    align-self: self-start;
    margin-left: 4.5rem;
  }
}
/* ===== End: Tablet Devices ===== */
