@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* ===== Start: CSS Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* ===== End: CSS Reset ===== */

/* ===== Start: Theme Section ===== */
:root {
  --primary-color: #131313;
  --seconday-color: #424242;
  --light-gray: #727272;
  --primary-bg: rgba(255, 144, 14, 0.1);
  --btn-primary: #ff900e;
}
/* ===== End: Theme Section ===== */

/* ===== Start: Same Styling ===== */
/* ===== Start: Colors ===== */
.priamary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--seconday-color);
}
.light-gray {
  color: var(--light-gray);
}
.primary-bg {
  background-color: var(--primary-bg);
}
/* ===== End: Colors ===== */
/* ===== Start: tag styling ===== */
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
/* ===== End: tag styling ===== */
.max-width {
  max-width: 1440px;
}
/* ===== Start: Class styling ===== */
.display-flex {
  display: flex;
}

.btn-primary {
  display: inline-block;
  background-color: var(--btn-primary);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
/* ===== End: Class styling ===== */
/* ===== End: Same Styling ===== */
header {
  padding: 3.125rem 3rem 0 3rem;
  /* padding-left: 3rem;
  padding-right: 3rem; */
}
/* ===== Start: Header Section ===== */
/* ===== Start: Navbar Section ===== */
.navbar {
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-brand {
  font-size: 2.2rem;
  font-weight: 800;
}

.nav-items {
  gap: 3rem;
}

.nav-link {
  font-size: 1.125rem;
  font-weight: 500;
}
/* ===== End: Navbar Section ===== */
/* ===== Start: Banner Section ===== */
.banner {
  margin: 100px auto;
}
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.banner-description {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.banner-img-container .banner-img {
  width: 100%;
  margin-bottom: 2rem;
}
/* ===== End: Banner Section ===== */
/* ===== End: Header Section ===== */
